#-------------------------------------------------------------------------------
# See: https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration
# See: https://github.com/nikolalsvk/dotfiles/blob/master/.gitconfig
#
# Log Note: 'auto' makes curr/local/remote ref names follow `--decorate --oneline`
# color scheme; see link below for more info:
#    - https://superuser.com/questions/337985/how-can-i-achieve-separate-colors-for-current-local-and-remote-ref-names-when
#-------------------------------------------------------------------------------

[user]
  name = Matthew Mackey
  email = 21043873+matthewmackey@users.noreply.github.com

[alias]
  #----------------------------------
  # Add
  #----------------------------------
  a   = add

  #----------------------------------
  # Branch
  #----------------------------------
  b   = branch
  ba  = b -av
  # Shortcuts for: --delete & --delete --force
  bd  = b -d
  bD  = b -D
  # Shortcuts for: -move & --move --force
  bm  = b -m
  bM  = b -M

  #----------------------------------
  # Commit
  #----------------------------------
  ci  = commit

  #----------------------------------
  # Checkout
  #----------------------------------
  co  = checkout
  cob = co -b

  #----------------------------------
  # Diff
  #----------------------------------
  d   = diff
  ds  = d --staged
  dn  = d -- ':(exclude)package-lock.json' ':(exclude)yarn.lock'
  dsn = ds -- ':(exclude)package-lock.json' ':(exclude)yarn.lock'

  #----------------------------------
  # Log
  #----------------------------------
  l   = log --pretty=format:'%C(yellow)%h%C(reset) %C(green)(%><(12)%cr%><|(12))%C(reset) - %s %C(blue)<%an>%C(reset)%C(auto)%d%C(reset)'
  ln  = l -n
  lg  = l --graph -n
  lga = l --all --graph -n
  # c = Complete History
  lgc  = l --graph
  lgca  = l --graph --all

  #----------------------------------
  # Push/Pull
  #----------------------------------
  ps  = push
  pl  = pull

  #----------------------------------
  # Restore
  #----------------------------------
  rs  = restore
  rss = rs --staged

  #----------------------------------
  # Shortlog
  #----------------------------------
  sl = shortlog
  slcommits = sl --summary --email --numbered --all

  #----------------------------------
  # Show
  #----------------------------------
  sh  = show

  #----------------------------------
  # Status
  #----------------------------------
  st  = status
  ss  = st -sb

[commit]
  template = ~/.gitmessage.txt

[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitignore_global
  whitespace = blank-at-eol,blank-at-eof,space-before-tab

[credential]
  helper = cache --timeout=3600

[credential "https://github.com"]
  username = matthewmackey

[merge]
  #tool = ??

[push]
  #default = simple
