# See: https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration

[user]
  name = Matthew Mackey
  email = matthewmackey@users.noreply.github.com

[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff --cached
  st = status

[commit]
  template = ~/.gitmessage.txt

[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitignore_global
  whitespace = blank-at-eol,blank-at-eof,space-before-tab,indent-with-non-tab

[credential]
  helper = cache --timeout=3600

[credential "https://github.com"]
  username = matthewmackey

[merge]
  #tool = ??

[push]
  #default = simple
