#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Bootstrap
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 2" --app-id=pdgckkkmmpkicejbbnmhjhdccfoniflk
Icon=chrome-pdgckkkmmpkicejbbnmhjhdccfoniflk-Profile_2
StartupWMClass=crx_pdgckkkmmpkicejbbnmhjhdccfoniflk
