#!/usr/bin/env xdg-open
# SEE: https://specifications.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html#recognized-keys

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=cmf (family-chrome)
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 3"
Icon=/home/mmackey/media/pics/profile_pics/family.gif

# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
GenericName=Web Browser

# Gnome and KDE 3 uses Comment.
Comment=Chrome for 'family' user

StartupNotify=true

Categories=Network;WebBrowser;

MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
#Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/google-chrome-stable "--profile-directory=Profile 3"

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/google-chrome-stable "--profile-directory=Profile 3" -- incognito
