#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Khan Academy
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 2" --app-id=nimbhjcbgbpgikmnocpkjpoknlgppnhn
Icon=chrome-nimbhjcbgbpgikmnocpkjpoknlgppnhn-Profile_2
StartupWMClass=crx_nimbhjcbgbpgikmnocpkjpoknlgppnhn
