#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Medium
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 2" --app-id=hhfiljfkackbfbokpmngfpjffnlmjljd
Icon=chrome-hhfiljfkackbfbokpmngfpjffnlmjljd-Profile_2
StartupWMClass=crx_hhfiljfkackbfbokpmngfpjffnlmjljd
