#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Pandora
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=jimpnahfdnjbeildkhlpgjicniddldnn
Icon=chrome-jimpnahfdnjbeildkhlpgjicniddldnn-Profile_1
StartupWMClass=crx_jimpnahfdnjbeildkhlpgjicniddldnn
