#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ebay
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 2" --app-id=najjmddbijjmdimbnackpgedbghjhmbk
Icon=chrome-najjmddbijjmdimbnackpgedbghjhmbk-Profile_2
StartupWMClass=crx_najjmddbijjmdimbnackpgedbghjhmbk
