#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=GoDaddy
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 2" --app-id=acjoefmfldgekjmckolobhoaccekpghm
Icon=chrome-acjoefmfldgekjmckolobhoaccekpghm-Profile_2
StartupWMClass=crx_acjoefmfldgekjmckolobhoaccekpghm
