#-------------------------------------------------------------------------------
# See: https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration
# See: https://github.com/nikolalsvk/dotfiles/blob/master/.gitconfig
#
# Log Note: 'auto' makes curr/local/remote ref names follow `--decorate --oneline`
# color scheme; see link below for more info:
#    - https://superuser.com/questions/337985/how-can-i-achieve-separate-colors-for-current-local-and-remote-ref-names-when
#-------------------------------------------------------------------------------


[commit]
  template = ~/.config/git/.gitmessage.txt

[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.config/git/.gitignore_global
  # From: delta
  pager = delta
  whitespace = blank-at-eol,blank-at-eof,space-before-tab

[credential]
  helper = cache --timeout=3600

[credential "https://github.com"]
#  username = matthewmachaj

[diff]
  colorMoved = default

[format]
  pretty = fuller
  pretty = medium

[merge]
  #tool = ??
  # From: delta
  conflictstyle = diff3

[push]
  # SEE: https://git-scm.com/docs/git-config#Documentation/git-config.txt-pushautoSetupRemote
  # autoUpdateRemote = true
  # default = current

#-------------------------------------------------------------------------------
# delta diff tool:
# https://dandavison.github.io/delta/configuration.html
#-------------------------------------------------------------------------------
[interactive]
  # From: delta
    # diffFilter = delta --color-only --features=interactive
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    navigate = true
    features = decorations
    # side-by-side = true

# [delta "interactive"]
#     keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

# Put [alias] (almost) last b/c it's a really long section and makes it hard to find the other sections
[alias]
  # From: https://www.youtube.com/watch?v=c5OPn_dyNcc
  undo = reset --soft HEAD^

  #----------------------------------
  # Add
  #----------------------------------
  a   = add

  #----------------------------------
  # Branch
  #----------------------------------
  b   = branch
  ba  = b -av
  # Shortcuts for: --delete & --delete --force
  bd  = b -d
  bD  = b -D
  # Shortcuts for: -move & --move --force
  bm  = b -m
  bM  = b -M

  #----------------------------------
  # Commit
  #----------------------------------
  ci  = commit

  #----------------------------------
  # Checkout
  #----------------------------------
  co  = checkout
  cob = co -b

  #----------------------------------
  # Diff
  #----------------------------------
  d   = diff
  ds  = d --staged
  dn  = d -- ':(exclude)package-lock.json' ':(exclude)yarn.lock'
  dsn = ds -- ':(exclude)package-lock.json' ':(exclude)yarn.lock'

  #----------------------------------
  # Log
  #----------------------------------
  l   = log --pretty=format:'%C(yellow)%h%C(reset) %C(green)(%><(12)%cr%><|(12))%C(reset) - %s %C(blue)<%an>%C(reset)%C(auto)%d%C(reset)'
  lf   = log --pretty=format:'%C(yellow)%h%C(reset) %C(green)(%cs / %as)%C(reset) - %s %C(blue)<C:%cn, A:%an>%C(reset)%C(auto)%d%C(reset)'
  ln  = l -n
  lg  = l --graph
  lgf  = lf --graph
  lga = l --all --graph
  lgaf = lf --all --graph

  # c = Complete History
  lgc  = l --graph
  lgca  = l --graph --all

  #----------------------------------
  # Push/Pull
  #----------------------------------
  ps  = push
  pl  = pull

  #----------------------------------
  # Restore
  #----------------------------------
  rs  = restore
  rss = rs --staged

  #----------------------------------
  # Shortlog
  #----------------------------------
  sl = shortlog
  slcommits = sl --summary --email --numbered --all

  #----------------------------------
  # Show
  #----------------------------------
  sh  = show

  #----------------------------------
  # Status
  #----------------------------------
  st  = status
  ss  = st -sb

#--------------------------------------------------------------------------------
# LOCAL Overrides
#
# We can't do variable expansion in .gitconfig files so we can't resolve $LOCAL_DOTDIR.
# Therefore, the `path` below should be a symlink to a .gitconfig file in $LOCAL_DOTDIR.
#--------------------------------------------------------------------------------
[include]
  path = ~/.config/git/.gitconfig_local
