[Desktop Entry]
Name=Synapse
Exec=synapse --startup
Encoding=UTF-8
Type=Application
Icon=synapse

# Whether it autostarts or not
X-GNOME-Autostart-enabled=true

# Whether it appears in "Startup Applications" listing
Hidden=false
